<h1>Bike Item</h1>
</br>
<div>
  <img id="bikeImage" src="https://cdn.iconscout.com/icon/free/png-256/bicycle-1498113-1268563.png"
  width="128" height="128">
  <h2>Bike Description</h2>
  {{bike.make}}
  {{bike.model}}
  {{bike.size}}
  {{bike.color}}
  {{bike.price}}
</div>
</br>

