<link rel="stylesheet" href="client_style_catalogItem.css">
<div id="header">
  <h1>Beave's Bikes</h1>
</div>


<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/bicycles"><b>Bicycles</b></a>
    <a href="/services">Services</a>
    <a href="/customer">Customer Portal</a>
    <a href="/admin">Admin</a>
  </div>
</nav>

</br>

<h4>Filter by</h4>
<form method="GET">
  Make:
  <select name="make" id="makeFilter">
    {{#each makes}}
    <option value="{{this.make}}">{{this.make}}</option>
    {{/each}}
  </select>
  <input type="submit" name="searchBicycles" value="Search">
</form>


<div class='row'>
  {{#if bikes}}
      {{#each bikes}}
      <div class='col-4'>
          <img id="bikeImage" onclick="loadBikeItem({{this.catalog_id}})"
          src="/pictures/productpage/bikeIcon.png">
          </br>
          <span>{{this.make}}</span>
          <span>{{this.model}}&emsp;</span>
          </br>
          <span>Size: {{this.size}}</span><br>
          <span>Color: {{this.color}}</span><br>
          <span>Type: {{this.type}}</span>
      </div>
      {{/each}}
  {{/if}}
</div>

<script src="client_script_catalog.js"></script>
