<link rel="stylesheet" href="client_style_item.css">

<div id="header">
  <h1>Beave's Bikes</h1>
</div>


<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/catalog"><b>Catalog</b></a>
    <a href="/services">Services</a>
    <a href="/customer">Customer Portal</a>
    <a href="/admin">Admin</a>
  </div>
  <div id="subNavBar">
    <a href="/bicycles">Bicycles</a>
    <a href="/gear">Gear</a>
    <a href="/clothing">Clothing</a>
  </div>
</nav>

<h1>Bike Item</h1>
</br>
<div>
  <img id="bikeImage" src="https://cdn.iconscout.com/icon/free/png-256/bicycle-1498113-1268563.png"
  width="128" height="128">
  <h2>Bike Description</h2>
  {{#if bike}}
  {{#each bike}}
    <table>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Size</th>
        <th>Color</th>
        <th>Type</th>
        <th>Price</th>
      </tr>
      <tr>
      <td>{{this.make}}</td>
      <td>{{this.model}}</td>
      <td>{{this.size}}</td>
      <td>{{this.color}}</td>
      <td>{{this.type}}</td>
      <td>${{this.price}}</td>
      </tr>
    </table>
  {{/each}}
  {{/if}}
</div>
</br>
<button id= "addtocartbutton">Add to cart</button>

