<head>
    <link rel="stylesheet" href="client_style_catalogItem.css">
</head>

<div id="header">
  <h1>Beave's Bikes</h1>
</div>


<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/catalog"><b>Catalog</b></a>
    <a href="/services">Services</a>
    <a href="/customer">Customer Portal</a>
    <a href="/cart">Cart</a>
    <a href="/admin">Admin</a>
  </div>
  <div id="subNavBar">
    <a href="/bicycles">Bicycles</a>
    <a href="/gear">Gear</a>
    <a href="/clothing">Clothing</a>
  </div>
</nav>

</br>

<div class='row'>
  
  {{#if bikeCatalog}}
      {{#each bikeCatalog}}
      <div class='col-4' id='bikeCatalogDiv'>
          <img id="bikeImage" onclick="loadBikeItem({{this.catalog_id}})"
          src="pictures/productpage/bikeIcon.png">
          </br>
          <span>{{this.make}}</span>
          <span>{{this.model}}&emsp;</span>
          </br>
          <span>Size: {{this.size}}</span>
          </br>
          <span>Price: ${{this.price}}</span>
      </div>
      {{/each}}
  {{/if}}
  {{#if clothingCatalog}}
      {{#each clothingCatalog}}
        <div class='col-4' id='clothingCatalogDiv'>
          <img id="clothingImage" onclick="loadClothingItem({{this.catalog_id}})"
          src="pictures/productpage/clothingIcon.png"
          width="128" height="128">
          </br>
          <span>{{this.name}}</span>
          </br>
          <span>Size: {{this.size}}</span>
          </br>
          <span>Price: ${{this.price}}</span>
        </div>
      {{/each}}
  {{/if}}
  {{#if gearCatalog}}
      {{#each gearCatalog}}
        <div class='col-4' id='gearCatalogDiv'>
          <img id="gearImage" onclick="loadGearItem({{this.catalog_id}})"
          src= "pictures/productpage/gearIcon.png"
          width="128" height="128">
          </br>
          <span>{{this.name}}</span>
          </br>
          <span>Price: ${{this.price}}</span>
        </div>
      {{/each}}
  {{/if}}
  </br>
  </br>
  </div>
</div>
</br>
<script type="text/javascript" src="client_script_catalog.js"></script>
