<div id="header">
  <h1>Beave's Bikes</h1>
</div>


<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/catalog"><b>Catalog</b></a>
    <a href="/services">Services</a>
    <a href="/customer">Customer Portal</a>
    <a href="/cart">Cart</a>
  </div>
  <div id="subNavBar">
    <a href="/bicycles">Bicycles</a>
    <a href="/gear">Gear</a>
    <a href="/clothing">Clothing</a>
  </div>
</nav>

</br>

<div class='row'>
  
  {{#if bikeCatalog}}
      {{#each bikeCatalog}}
      <div class='col-4'>
          <img id="bikeImage" src="pictures/productpage/bikeIcon.png"
          onclick="javascript:window.location='./bikeItem';">
          </br>
          <span>{{this.make}}</span>
          <span>{{this.model}}&emsp;</span>
          </br>
          <span>Size: {{this.size}}</span>
          </br>
          <span>Price: ${{this.price}}</span>
      </div>
      {{/each}}
  {{/if}}
  {{#if clothingCatalog}}
      {{#each clothingCatalog}}
        <div class='col-4'>
          <img id="clothingImage"
          src="pictures/productpage/clothingIcon.png"
          width="128" height="128"
          onclick ="javascript:window.location='./clothingItem';">
          </br>
          <span>{{this.name}}</span>
          </br>
          <span>Size: {{this.size}}</span>
          </br>
          <span>Price: ${{this.price}}</span>
        </div>
      {{/each}}
  {{/if}}
  {{#if gearCatalog}}
      {{#each gearCatalog}}
        <div class='col-4'>
          <img id="gearImage"
          src= "pictures/productpage/gearIcon.png"
          width="128" height="128"
          onclick ="javascript:window.location='./gearItem';">
          </br>
          <span>{{this.name}}</span>
          </br>
          <span>Price: ${{this.price}}</span>
        </div>
      {{/each}}
  {{/if}}
  </br>
  </br>
  </div>
</div>
</br>

