<link rel="stylesheet" href="client_style_orderHistory.css">

<div id="header">
  <h1>Beave's Bikes</h1>
</div>


<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/catalog">Catalog</a>
    <a href="/services">Services</a>
    <a href="/customer"><b>Customer Portal</b></a>
    <a href="/cart">Cart</a>
    <a href="/admin">Admin</a>
  </div>
</nav>

<br>
<h2>Order History</h2>

<table id="orderHistoryTable">
  <thead>
    <td>Order Number</td>
    <td>Order Date</td>
    <td>Order Status</td>
    <td>Number of Items</td>
    <td>Total Paid</td>
    <td>Order Details</td>
    <td>Update Billing</td>
    <td>Cancel Order</td>
  </thead>
  <tbody>
      {{#each orders}}
      <tr>
          <td>{{this.order_num}}</td>
          <td>{{this.order_date}}</td>
          <td>{{#if this.order_complete}}Complete{{else}}In Process{{/if}}</td>
          <td>{{this.item_quantity}}</td>
          <td>${{this.total_price}}</td>
          <td><button>Details</button></td>
          <td><button>Update</button></td>
          <td><button>Cancel</button></td>
      </tr>
      {{/each}}
  </tbody>
</table>

<script type="text/javascript" src="client_script_orderHistory.js"></script>