<link rel="stylesheet" href="client_style_services.css">

<div id="header">
  <h1>Beave's Bikes</h1>
</div>

<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/catalog">Catalog</a>
    <a href="/services"><b>Services</b></a>
    <a href="/customer">Customer Portal</a>
    <a href="/cart">Cart</a>
    <a href="/admin">Admin</a>
  </div>
</nav>
<br>
<h2>Service Requests</h2>
<form action="/serviceRequest" method="POST" id="serviceRequestForm">
    <label for="cust_id">Customer ID:</label>
    <input type="text" name="cust_id" id="cust_id" disabled value={{cust_id}}>
    <br>
    <label for="request_date">Request Date:</label>
    <input type="date" name='request_date' id="request_date"><br>
    <label for="service">Requested Service:</label>
    <select name="service" id="service">
        <option value="">--Please select a service--</option>
        {{#each services}}
            <option value='{{this.id}}' serviceName='{{this.name}}' price='{{this.price}}'>{{this.name}}: ${{this.price}}</option>
        {{/each}}
    </select><button id="chooseService">Select</button>
    <br><br>
    <h5>Chosen Services:</h5>
    <table id="servicesTable">
      <thead>
        <th>Service</th>
        <th>Cost</th>
        <th hidden='hidden'>service_id</th>
        <th></th>
      </thead>
      <tbody>
      </tbody>
    </table>
    <br>
    <div>
      Total Cost: $<span id="totalCost">0</span>
    </div>
    <br>
    <br>
    <h4>Payment Info</h4>   
    <label for="credit_card_num">Credit Card Number:</label>
    <input type="text" name="credit_card_num" id="credit_card_num" minlength="16" maxlength="16"><br>
    <label for="credit_card_exp">Credit Card Expiration Date:</label>
    <input type="date" name="credit_card_exp" id="credit_card_exp"><br>
    <input name='submit' type="submit" value="Submit Request">
</form>

<script type="text/javascript" src="client_script_serviceRequest.js"></script>
